.singInButton {
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--gray-850);
    border: 0;
    padding: 01.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: bold;

    svg {
        width: 20px;
        height: 20px;
    }

    svg.closeIcon {
        margin-left: 1rem;
    }

    svg:first-child {
        margin-right: 1rem;
    }

    transition: filter 0, 2s;

    &:hover {
        filter: brightness(0.8);
    }
}

.imageAvatar {
    width: 45px;
    border-radius: 45px;
    margin-left: 10px;
    padding: 1px;

    border: 1px solid white;
}
