.subscribeButton {
    height: 4rem;
    width: 260px;
    border: 0;
    border-radius: 2rem;
    background: var(--yellow-500);
    color: var(--gray-900);
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s; 

    &:hover {
        filter: brightness(0.8);
    }
}

.toast {
  color: #fff;
  background: #353839;
}