* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}