:root {
  --background: #1A1D23;
  --heading: #F8F8F8;
  --highlight: #FF57B2;
  --info: #BBBBBB;
  --body: #D7D7D7;
  --border: #282634;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @media ( max-width: 1080px ) {
    font-size: 93.75%; // 15px
  }
  @media ( max-width: 720px ) {
    font-size: 87.5%; // 14px
  }
}

body {
  background: var(--background);
  --webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
  border: 0;
}

[disable] {
  opacity: 0.6;
  cursor: not-allowed;
}
